<header class="bodyimg">
    <!-- <div class="card15"> -->
    <div class="contain15">
        <h1 class="main-head-2">We plan your events</h1>
        <h1 class="event">Know more about us</h1>
        <p class="para">Our event management system simplifies your planning effots<br> We provide our services for different events like Marriage, Engagement ceremony, Birthday parties, Business events and many more 
            <br><br>So, make a move and Happy Planning!
        </p>
    </div>
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRYuo_yiVKLgV3jL1FrfnHol9mcS1I-zPNPYg&usqp=CAU" alt="" clack="backgroungimg15" width="100%" height="700px">
</header>
