<nav >
    <ul >
          <button class="nav-item" [routerLink]="['/events']" class = "btn btn-outline-success"> Event List</button>&nbsp;
          <button class="nav-item" [routerLink]="['/create-event']"class = "btn btn-outline-success"> Add Event </button>&nbsp;   
          <button class="nav-item" [routerLink]="['/customers']"class = "btn btn-outline-success"> Customers List </button> &nbsp; 
          <button class="nav-item" [routerLink]="['/onlypayment']"class = "btn btn-outline-success"> Payment List </button> &nbsp;  
          <button class="nav-item" [routerLink]="['/onlybooking']"class = "btn btn-outline-success"> Booking List </button> &nbsp;  
    </ul>
</nav>
<br>
<h2>Events List</h2>
<div class="container">
<div class="row">
   
    <div class="search-events">
    <h4>Search:</h4><input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off">
    </div>
    <table class = "table table-striped">
    <thead>
        <tr>
            <th scope="col" [appSort]="events" data-order="desc" data-name="eventId"> Event ID</th>
            <th scope="col" [appSort]="events" data-order="desc" data-name="eventName"> Event Name</th>
            <th scope="col" [appSort]="events" data-order="desc" data-name="eventCost"> Event Cost</th>
            <th scope="col" [appSort]="events" data-order="desc" data-name="capacity"> Capacity</th>
            <th scope="col" [appSort]="events" data-order="desc" data-name="food"> Food </th>
            <th> Actions </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor = "let event of events | filter:searchText | paginate:{itemsPerPage:5,currentPage:p};" >
            <td> {{ event.eventId }} </td>
            <td> {{ event.eventName }} </td>
            <td> {{ event.eventCost }} </td>
            <td> {{ event.capacity}} </td>
            <td> {{ event.food}} </td>
            <td>
                <button (click) = "updateevent(event.eventId)"class = "btn btn-outline-success"> Update</button>&nbsp;
                <button (click) = "deleteEvent(event.eventId)" class = "btn btn-outline-danger"> Delete</button>  
            </td> 
        </tr>
    </tbody>
    <pagination-controls (pageChange)="p=$event"></pagination-controls>
</table>
</div>

