.heading15 {
    border: 1px solid;
    display: flex;
    background-color: navy;
     margin-top: -9px;
}

.imgone {
    margin-left: 11px;
    border-radius: 46px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.main_head1 {
    margin-top: 13px;
    margin-left: 20px;
}

.main-head {
    /* margin-top: 35px; */
    font-size: 32px;
    color: white;
    font-weight: 600;
}

.logo15 {
    display: flex;

}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    margin-left: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {

    color: white;

}

.topnav {
    margin-top: 8px;
    margin-left: 510px;
}

.backgroungimg15 {
    position: relative;
    width: 100%;
    height: auto;
    opacity: 0.6;
}

.contain15 {
    position: absolute;
    margin-top: 85px;
    margin-left: 73px;
}



.login_user {
    margin-left: -58px;
    width: 135px;
    font-size: 14px;
    border-radius: 13px;
    background: #90fcf3;
    background: -webkit-linear-gradient(to right, #82e4eb, #3462ea, #b2cdef, #36bddf);
    background: linear-gradient(to right, #12c3d3, #1ab1b1, #36ddcc, #0a35d0);
}



.icon1 {
    position: absolute;
    margin-left: -10px;
    color: white;
    margin-top: 10px;
}

.card15 {
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
    transition: 0.3s;
    /* border: 1px solid; */
    height: 340px;
    background: white;
    width: 32%;
    position: absolute;
    top: 54%;
    left: 23%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
}

.para {
    font-size: 21px;
    font-weight: 900;
    /* margin-left: 44px; */
}

.main-head-2 {
    font-size: 48px;
    color: #090976;
}