<header class="bodyimg">
    <!-- <div class="card15"> -->
    <div class="contain15">
        <h1 class="main-head-2">Welcome To Event Management system</h1>
        <h2 class="event">Make your special events more special with us</h2>
        
        <!-- </div> -->
        <div>
            <button class = "btn btn-success" (click)="login()">User-Login</button>&nbsp;
            <button class = "btn btn-success" (click)="admin()">Admin-Login</button>
        </div>
    </div>

    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRYuo_yiVKLgV3jL1FrfnHol9mcS1I-zPNPYg&usqp=CAU" alt="" clack="backgroungimg15" width="100%" height="500px">
</header>



