
<nav class="navbarr navbar-light">
    <div class="container-fluid">
        <div class="heading15">
            <div class="logo15">
               
            </div>
            <div class="main_head1">
                <a class="navbar-brand main-head">EVENT MANAGEMENT SYSTEM</a>
            </div>
            <div class="topnav">
                <a routerLink="home">Home</a><img src="assets\images\home5.png" alt="" class="icon1"
                    height="27px">
                <a routerLink="about">About-us</a><img src="assets\images\about.png" alt="" class="icon1" height="27px">
                <!-- <a routerLink="app-contact">Contact-us</a><img src="assets\images\contact us.png" alt="" class="icon1"
                    height="27px"> -->
            </div>
        </div>
    </div>
</nav>
<br>
<div class="container">
<router-outlet></router-outlet>
</div>

